:root {
    --color--primary: #22ba19;
    --color--secondary: #0C6E07;
}

body {
    background-color: white;
}

#navbar-container {
    background-color: white;
    box-shadow: 0 1px 4px rgba(0,0,0,0.1);
}

#navbar {
    padding: 0 20px;
}

.navbar-brand {
    display: flex;
    align-items: center;
    height: 80px;
}

.navbar-brand > img {
    height: 50%;
}

.nav-link {
    color: #333;
    font-size: 1.1rem;
    font-weight: 500;
}

.nav-link:hover {
    color: #22BA19;
}

#history-container {
    margin: 40px auto;
    padding: 10px;
    height: 76vh;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 8px 2px #ccc;
}

#history-navbar {
    padding-right: 16px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px 5px 0 0;
    background-color: #eee;
}

#history-navbar span {
    font-weight: 500;
}

.navbar-item {
    padding: 0;
}

.ticket-list {
    max-height: 68vh;
    overflow: auto;
}

.ticket-item {
    margin: 4px 0 0 0;
    padding: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.ticket-operator {
    color: var(--color--primary);
    font-size: 0.9rem;
    font-weight: 500;
}

.ticket-route {
    color: var(--color--secondary);
    font-weight: 600;
}

.ticket-route > i {
    margin: 7px 8px 0 8px;
    font-size: 0.8rem;
}

.ticket-date {
    font-size: 0.9rem;
    font-weight: 500;
}

.ticket-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ticket-content a {
    text-decoration: none;
    color: var(--color--primary);
    font-weight: 500;
}

.btn, .btn-primary, .btn-primary:hover {
    background-color: var(--color--primary);
    border: none;
}

.footer {
    background-color: #f5f5f5;
}

.footer > .container > .row {
    padding: 40px 0;
}

.footer > .container:first-child > .row {
    border-bottom: 1px solid #333;
}

.footer-list {
    padding: 0;
    list-style: none;
}

.footer-list > li {
    margin-top: 6px;
}

.footer-list > li > a {
    color: #333;
    text-decoration: none;
    font-size: 0.9rem;
}

.footer-list > li > a:hover {
    color: #22BA19;
}

.social-media-list {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.social-media-list > li {
    margin: 0px 30px 0 0;
    text-decoration: none;
}

.social-media-list > li > a {
    font-size: 1.2rem;
}

.social-media-list > li:nth-child(1) > a {
    color: #3b5998;
}

.social-media-list > li:nth-child(2) > a {
    color: #dd4b39;
}

.social-media-list > li:nth-child(3) > a {
    color: #0082ca;
}

.social-media-list > li:nth-child(4) > a {
    color: #333333;
}