body{
    position: relative;
}

.container{
    top:0%;
    position:absolute;
    color: black;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#logo{
    width: 20%;
}


header{
    text-align: center;
    width: 100%;
    font-size: 30px;;
}

#login{
    margin-top: 5%;
    text-align: center;
    display: block;
}

#userN,#pass,#submit{
    border-radius: 5px;
    font-weight: bolder;
    outline:none;
    border:none;
    appearance: none;
    color: black;
    font-size: 15px;
}

#userN,#pass{
    width: 20%;
    height: 10%;
    margin-right: 50px;
}

#userN{
    margin-bottom: 10px;
    margin-left: 5px;
}


#submit{
    display: block;
    width: 20%;
    text-align: center;
    background-color: white;
    font-size: 25px;
    margin-top: 30px;
    padding: 7px;
    margin-right: auto;
    margin-left: auto;
    text-decoration: none;
}



.signUp-fPass{
    margin-top: 10%;
    display:flex;
    width: 100%;
    font-size: 20px;
    text-align: center;
    color: blue;
}

a{
    text-decoration: underline;
    opacity: 0.8;
    border-radius: 5px;
    font-size: 25px;
    font-weight: 700;
    color: mintcream;
}

label{
    font-weight: bolder;
    font-size: 18px;
}


#signUp{
    width: 50%;
    color: black;
}

#fpass{
    width:50%;
    color: black;
}

