.container {
    background-color: #d2bcbc;
}

#navbar {
    padding: 0 20px;
}

.navbar-brand {
    display: flex;
    align-items: center;
    height: 80px;
}

.navbar-brand > img {
    height: 50%;
}

.nav-link {
    color: #333;
    font-size: 1.1rem;
    font-weight: 500;
}

.nav-link:hover {
    color: #22BA19;
}