:root{
    --web-green-color :#8EFDDC;
    --web-red-color :#FB1111;
    --web-green-color2 :#278A6D;
    --web-green-color3: #27B91A;
}

html{
    font-family: 'Oswald' cursive;
    height: 100%;
    position: relative;
  
}

#navbar {
    padding: 0 20px;
}

.navbar-brand {
    display: flex;
    align-items: center;
    height: 80px;
}

.navbar-brand > img {
    height: 50%;
}

.nav-link {
    color: #333;
    font-size: 1.1rem;
    font-weight: 500;
}

.nav-link:hover {
    color: #22BA19;
}

#menu-header a{
    margin : 0 2rem;
    color : black;

}

#menu-header a li.account{
    background-color: var(--web-green-color);
    border-radius: 8px;
    width: 120%;
    height : 30px;
    line-height: 30px;

    text-align: center;
}

.border-seperate {
    margin: 0 30px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    
}

main{
    
    margin-top : 2rem
    
}

#account{
    font-size: 3rem;
    padding-right: 0.5rem;
}

#user-name{
    font-size: 2rem;
    padding-left: 0.5rem;
}

.avatar{
    display: inline-block;
    border-radius: 5px;
    
    background-color: var(--web-green-color);
}


#myTab li .nav-link{

    
    text-decoration-line: underline;
    text-decoration-color: rgba(39,138,109, 0.3) ;
    font-style: italic;
    color : var(--web-green-color2)
    
    
}

#myTab li .active{
    text-decoration-color :rgba(39,138,109, 1) ;
    font-weight: bold;
}


body{
    background-image: url("ImagesChuyenXe/background-account.jpg") ;
    background-repeat: no-repeat;
    background-size: 100% ;
}
