<link rel="stylesheet" type="text/css" href="/css/chuyen_xe.css" />

<!-- Session1 -->
<div class="container-fluid"  id = "session1">
    
    <div class="row justify-content-center align-items-center g-2">
        <div class="col-sm-4 column1" >
            <div class = "hinhAnh">
                Hình ảnh
            </div>
            <img src ="/img/chuyen_xe/phuongtrang1.jpg" alt="Ảnh chuyến xe">

            

        </div>
        <div class="col-sm-8 column2">
            <div class="row g-2">

                <div class="col column2-1">
                    <div>
                        <span class = "field">Nhà xe: </span>

                        <span>Phương Trang</span>

                        <span class = "star">4.6 (1502) <i class="fas fa-star"></i></span>
                    </div>

                    <div class = "fixMargin">
                        <span class = "field">Đi từ: </span>
                        
                        <span>Sài Gòn, 8h30 02/12/2022</span>
                    </div>

                    <div class = "fixMargin">
                        <span class = "field">Đến: </span>
                        
                        <span>Đà Lạt, 16h30 02/12/2022 </span>
                    </div>

                    <div class = "fixMargin">
                        <span class = "field">Tổng thời gian hành trình :</span>

                        <span>8 tiếng</span>
                    </div>
                </div>

                <div class="col column2-2">
                    <div id = "numberOfEmptySeats">Chỉ còn 11 ghế trống</div>
                    
                    <div class = "clear">
                        <span class = "field">Giá vé : </span>

                        <span>Chỉ 290.000đ / vé</span>
                    </div>

                    <div class = "fixMargin">
                        <span class = "field">Liên hệ : </span>
                        
                        <span>1900996678</span>
                    </div>

                    <div class = "fixMargin">
                        <span class = "field">Số lượng ghế : </span>
                        
                        <span>16 ghế</span>
                    </div>

                    <div class = "fixMargin">
                        <span class = "field">Loại xe : </span>
                        
                        <span>Giường nằm</span>
                    </div>
                    
                </div>
                
            </div>
        </div>
    </div>
    

    

</div>

<!-- Tạo border ngăn cách 2 session -->
<br>
<div class="border-seperate"></div>


<div class = "container ticket">
    <div class="row">
        <div id ="notice" class="col">
            <div class = "note">Loại ghế !</div>
            <div>
                <span class = "note">Ghế trống : </span>
                <div id = "empty-seats"></div>
            </div>
            <div>
                <span class = "note">Ghế đã được đặt : </span>
                <input id = "is-ordered-seats" type="checkbox" onclick="this.checked=!this.checked;" checked = "checked">
            </div>
            <div>
                <span class = "note">Ghế đang chọn : </span>
                <input id = "is-choosing-seats" type="checkbox" onclick="this.checked=!this.checked;" checked = "checked">
            </div>
        </div>
        
        <div class="col">
            <div class = "mx-5">Tầng dưới</div>
            <div class = "choose-ticket ">
                <div class="row justify-content-around align-items-center g-2">
                    <div class="col driver">
                        <i class="fas fa-user"></i>
                    </div>
                    <div class="col">
                        <input type = "checkbox" >
                    </div>
                    
                </div>

                <div class="row justify-content-center align-items-center g-2">
                    <div class="col">
                        <input type = "checkbox" >
                    </div>
                    <div class="col">
                        <input type = "checkbox" >
                    </div>
                    
                </div>

                <div class="row justify-content-center align-items-center g-2">
                    <div class="col">
                        <input type = "checkbox" >
                    </div>
                    <div class="col">
                        <input type = "checkbox" >
                    </div>
                    
                </div>

                <div class="row justify-content-center align-items-center g-2">
                    <div class="col">
                        <input type = "checkbox" >
                    </div>
                    <div class="col">
                        <input type = "checkbox" >
                    </div>
                    
                </div>

                <div class="row justify-content-center align-items-center g-2">
                    <div class="col">
                        <input type = "checkbox" >
                    </div>
                    <div class="col">
                        <input type = "checkbox" >
                    </div>
                    
                </div>

                <div class="row justify-content-center align-items-center g-2">
                    <div class="col">
                        <input type = "checkbox" >
                    </div>
                    <div class="col">
                        <input type = "checkbox" >
                    </div>
                    
                </div>

                <div class="row justify-content-center align-items-center g-2">
                    <div class="col">
                        <input type = "checkbox" >
                    </div>
                    <div class="col">
                        <input type = "checkbox" >
                    </div>
                    
                </div>

                <div class="row justify-content-center align-items-center g-2">
                    <div class="col">
                        <input type = "checkbox" >
                    </div>
                    <div class="col">
                        <input id = "c1" type = "checkbox"  onclick="this.checked=!this.checked;" checked="checked" >
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="col">
            <div class = "mx-5">Tầng trên</div>
            <div class = "choose-ticket">
                <div class="row justify-content-around align-items-center g-2">
                    <div class="col">
                        <input type = "checkbox" >
                    </div>
                    <div class="col">
                        <input type = "checkbox" >
                    </div>
                    
                </div>

                <div class="row justify-content-center align-items-center g-2">
                    <div class="col">
                        <input type = "checkbox" >
                    </div>
                    <div class="col">
                        <input type = "checkbox" >
                    </div>
                    
                </div>

                <div class="row justify-content-center align-items-center g-2">
                    <div class="col">
                        <input type = "checkbox" >
                    </div>
                    <div class="col">
                        <input type = "checkbox" >
                    </div>
                    
                </div>

                <div class="row justify-content-center align-items-center g-2">
                    <div class="col">
                        <input type = "checkbox" >
                    </div>
                    <div class="col">
                        <input type = "checkbox" >
                    </div>
                    
                </div>

                <div class="row justify-content-center align-items-center g-2">
                    <div class="col">
                        <input type = "checkbox" >
                    </div>
                    <div class="col">
                        <input type = "checkbox" >
                    </div>
                    
                </div>

                <div class="row justify-content-center align-items-center g-2">
                    <div class="col">
                        <input type = "checkbox" >
                    </div>
                    <div class="col">
                        <input type = "checkbox" >
                    </div>
                    
                </div>

                <div class="row justify-content-center align-items-center g-2">
                    <div class="col">
                        <input type = "checkbox" >
                    </div>
                    <div class="col">
                        <input type = "checkbox" >
                    </div>
                    
                </div>

                <div class="row justify-content-center align-items-center g-2">
                    <div class="col">
                        <input type = "checkbox" >
                    </div>
                    <div class="col">
                        <input type = "checkbox" >
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>

<br>
<div class = "border-seperate"></div>

    
    <div class = "container-fluid footer">  
        <br>
    
        <!-- Modal trigger button -->
            <button type="button" class="btn btn-primary btn-lg button-pay" data-bs-toggle="modal" data-bs-target="#order-ticket">
                Thanh toán
            </button>
            
            <!-- Modal Body -->
            <!-- if you want to close by clicking outside the modal, delete the last endpoint:data-bs-backdrop and data-bs-keyboard -->
            <div class="modal fade" id="order-ticket" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-sm" r ole="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalTitleId">Thanh toán</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="" method="get">
                                <label for="full-name">Họ và tên : </label><br>
                                <input type = "text" id = "full-name" name = "full-name" required >

                                <label for="sdt">Số điện thoại : </label><br>
                                <input type = "number" id = "sdt" name = "sdt"  required>

                                <label for="email-address">Địa chỉ email : </label><br>
                                <input type = "email" id = "email-address" name = "email-address" required>

                                <button class="btn btn-secondary form-button" type="submit">Xác nhận</button>
                                <button type="button" class="btn btn-secondary form-button" data-bs-dismiss="modal">Close</button>
                                
                            </form>
                        </div>
                        
                            
                            
                        </div>
                    </div>
                </div>
            </div>
            
            
            <!-- Optional: Place to the bottom of scripts -->
            <script>
                const myModal = new bootstrap.Modal(document.getElementById('modalId'), options)
            
            </script>

        <div id = "price">
            Giá vé : 290.000đ / 1 vé
        </div>
        <br><br><br><br>

    </div>
</div>