<!-- Import jquery cdn -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

<body>

    <main>

        <h2 class = "d-flex justify-content-center m-5">Quên mật khẩu</h2>  

        <div class = "d-flex justify-content-center ">

            <div class="w-25">
                
                <form action="/forgotpassword" class="was-validated d-flex flex-column justify-content-center" method="POST">

                    <div class="form-floating mt-1 mb-1">
                        
                        <input class="form-control" type="email" id="email" placeholder="email" name="email" required>
                        <label for="email">Vui lòng nhập vào mail của bạn </label>

                        <div class="invalid-feedback text-danger">Vui lòng nhập đúng định dạng email</div>
                        <div class="valid-feedback text-success" >Xác nhận thành công!</div>

                    </div>
                    
                    
                <button type ="" class="btn btn-primary " id = "sendBtn">Xác nhận mail</button>
            
                </form> 
        
                
            </div>
            
            
        </div>

        
            
        <div class="prevStep">
            <a class="text-decoration-none btn btn-info" href="/login">Quay về trang đăng nhập</a>
        </div>
    </main>

    <link rel="stylesheet" type = "text/css" href="/css/Confirm-PhoneN.css">


</body>

<script type = "text/javascript">
    $(document).ready(function(){
        let listEmail = "{{listEmail}}"
        listEmail = listEmail.split(",");
        $("#sendBtn").click(function() {
            let checkEmail = false;
            let valueEmail = $("#email").val();
            for( i = 0; i < listEmail.length; i++){
                if(listEmail[i] == valueEmail){
                    checkEmail = true;
                    alert('Đã gửi link xác nhận đến mail ' + valueEmail);
                    break;
                }
            }
            if(!checkEmail){
                alert('Email không tồn tại');
            }
            
        });
    })
</script>