<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type = "text/css" href="/css/Confirm-PhoneN.css">


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

    <!-- <script type="text/javascript" src="Log-in.js"></script> -->
    <title>Đăng nhập</title>

</head>

<body>

    <main>

        <h2 class = "d-flex justify-content-center m-5">Đăng nhập</h2>  

        <div class = "d-flex justify-content-center ">

            <div class="w-25">
               
                <form action="/login/view" class="was-validated d-flex flex-column justify-content-center" method="POST">

                    <div class="form-floating mt-1 mb-1">
                        
                        <input class="form-control" type="text" id="username" placeholder="username" name="username" required>
                        <label for="username">Tên tài khoản </label>

                    </div>

                    <div class="form-floating">

                        <input class="form-control" type="password" id="password" placeholder="password" name="password" required>
                        <label for="password">Mật khẩu </label>

                        <div class="invalid-feedback text-danger">Tài khoản hoặc mật khẩu không chính xác!</div>
                        <div class="valid-feedback text-success" >Xác nhận thành công!</div>

                    </div>
                    
                    
                    
                <button type ="submit" class="btn btn-primary " id = "sendBtn">Đăng nhập</button>
            
                </form> 
        
                
            </div>
            
            
        </div>

        
            
        <div class="prevStep">
            <a class="text-decoration-none btn btn-info" href="Confirm-PhoneN-FPW.html">Quên mật khẩu</a>
        </div>

        <div class="nextStep">
            <a class="text-decoration-none btn btn-info" href="Sign-up.html">Đăng ký</a>
        </div>
        
    </main>


    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
    </script>

    <link rel="stylesheet" type = "text/css" href="/css/Confirm-PhoneN.css">
</body>


</html>