
<!-- Import jquery cdn -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

<body>

    <main>

        <h2 class = "d-flex justify-content-center m-5">Đăng nhập</h2>  

        <div class = "d-flex justify-content-center ">

            <div class="w-25">
               
                <form action="/login" class="was-validated d-flex flex-column justify-content-center" method="POST">

                    <div class="form-floating mt-1 mb-1">
                        
                        <input class="form-control" type="text" id="username" placeholder="username" name="username" required>
                        <label for="username">Tên tài khoản </label>

                    </div>

                    <div class="form-floating">

                        <input class="form-control" type="password" id="password" placeholder="password" name="password" required>
                        <label for="password">Mật khẩu </label>

                        <div class="invalid-feedback text-danger fw-bold fs-6">Nhập tài khoản và mật khẩu!</div>
                        <div class="valid-feedback text-danger fw-bold fs-6" id="check" >Tài khoản hoặc mật khẩu không chính xác!</div>

                    </div>
                    
                    <div id="test"></div>
                    
                    
                <button type ="" class="btn btn-primary " id = "sendBtn">Đăng nhập</button>
            
                </form> 
        
                
            </div>
            
            
        </div>

        
            
        <div class="prevStep">
            <a class="text-decoration-none btn btn-info" href="Confirm-PhoneN-FPW.html">Quên mật khẩu</a>
        </div>

        <div class="nextStep">
            <a class="text-decoration-none btn btn-info" href="Sign-up.html">Đăng ký</a>
        </div>
        
    </main>

    <link rel="stylesheet" type = "text/css" href="/css/Confirm-PhoneN.css">


</body>

<script type = "text/javascript">
    $(document).ready(function(){

        let listUsername = "{{listUsername}}"
        let listPassword = "{{listPassword}}"

        listUsername = listUsername.split(",");
        listPassword = listPassword.split(",");

        $("#sendBtn").click(function() {

            
            let valueUsername = $("#username").val();
            let valuePassword = $("#password").val();

            let checkUsername = "false";
            let check = "false";
            for( i = 0; i < listPassword.length; i++){
                if(listUsername[i] == valueUsername){
                    
                    checkUsername = "true";
                   
                    if(listPassword[i] == valuePassword){
                        check = "true";
                        break;
                    }
                }
            } 
            if(check == "false"){
                if(checkUsername == "true"){
                    $("#check").html("Mật khẩu không chính xác!")

                }else{
                    $("#check").html("Tài khoản không tồn tại!")

                    
                }
            }

        });
    })
            
                
</script>

