<link rel="stylesheet" type="text/css" href="/css/nha_xe.css" />

<!-- Operator section start -->
<div class="operator">
    <div class="container">
        <div class="row">
            <div class="operator-info shadow-sm">
                <div class="row operator-info-header">
                    <div class="col operator-info-header-start">
                        <!-- Operator name | Tên nhà xe -->
                        <h3>Nhà xe Tiến Oanh</h3>
                        <!-- Office address | Địa chỉ văn phòng chính -->
                        <p>Trụ sở: 266 Đồng Đen ,P10.Q.Tân Bình</p>
                    </div>
                    <div class="col operator-info-header-end">
                        <div class="operator-rating">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star-half-stroke"></i>
                            <i class="fa-regular fa-star"></i>
                        </div>
                        <div class="operator-review-count">
                            <span>28</span>
                        </div>
                    </div>
                </div>
                <!-- Images | Hình ảnh -->
                <div id="carousel-container" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carousel-container" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carousel-container" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carousel-container" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="/img/dia_diem/saigon.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="/img/dia_diem/dalat.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="/img/dia_diem/danang.jpg" class="d-block w-100" alt="...">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carousel-container" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carousel-container" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
                <!-- Information | Thông tin -->
                <div class="operator-info-item">
                    <h4>Giới thiệu nhà xe</h4>
                    <p>Nhà xe Tiến Oanh luôn nổi bật với dịch vụ vận tải hành khách trên tuyến đường Sài Gòn <> Buôn Mê Thuột. Ngày nay, hãng xe Tiến Oanh đã mở rộng dịch vụ sang tuyến đường Sài Gòn <> Đà Lạt. Phục vụ dòng xe limousine giường nằm chất lượng cao, nhà xe vẫn cam kết mang lại cho hành khách những dịch vụ chất lượng, an toàn và thoải mái nhất.</p>
                </div>
                <!-- Office address list -->
                <div class="operator-info-item">
                    <h4>Văn phòng</h4>
                    <p>Địa điểm đón trả khách của nhà xe Tiến Oanh</p>
                    <ul>
                        <li>Văn phòng Tân Bình: 266 Đồng Đen, Tân Bình, TP.HCM</li>
                        <li>Văn phòng Thủ Đức: 804 Song Hành Hà Nội, Quận 9, TP.HCM</li>
                        <li>134 Hai Bà Trưng, Buôn Mê Thuột</li>
                        <li>272 Phù Đổng Thiên Vương, Đà Lạt</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Operator section end -->