<!-- Import jquery cdn -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

<body>

    <main>

        <h2 class = "d-flex justify-content-center m-5">Đặt lại mật khẩu</h2>  

        <div class = "d-flex justify-content-center ">

            <div class="w-25">
               
                <form action="/setpassword" class="was-validated d-flex flex-column justify-content-center" method="POST">

                    <div class = "form-floating">
                        <input class="form-control" type="password" id="password" placeholder="password" name="password" required>
                        <label for="password">Password </label>

                        <div class="invalid-feedback text-danger">Vui lòng nhập mật khẩu mới</div>
                        <div class="valid-feedback text-success" >Xác nhận thành công!</div>
                    </div>

                    <div class = "form-floating">
                        <input class="form-control" type="password" id="password2" placeholder="Nhập lại mật khẩu" name="password2" required>
                        <label for="password2">Re-enter Password </label>

                        <div class="invalid-feedback text-danger" id="check">Vui lòng lại nhập mật khẩu</div>
                        <div class="valid-feedback text-success" >Xác nhận thành công!</div>
                    </div>

                    <div>
                        <input type="hidden" name="email" id="email" value="{{email}}">
                        <input type="hidden" name="token" id="token" value="{{token}}">
                    </div>
                    
                    
                <button type ="" class="btn btn-primary " id = "sendBtn">Xác nhận</button>
            
                </form> 
        
                
            </div>
            
            
        </div>

    </main>

    <link rel="stylesheet" type = "text/css" href="/css/Confirm-PhoneN.css">


</body>

<script type = "text/javascript">

    $("#sendBtn").click(function() {
        let password =  $("#password").val();
        let password2 = $("#password2").val();
        if (password != password2){
            alert('Mật khẩu không khớp');
            $("#email").submit(function(e){
            e.preventDefault();})
        }
    }
    );
    
</script>
