<link rel="stylesheet" type="text/css" href="/css/tai_khoan.css" />

<div class="container">
        <div class="row">
            <div class="col-sm-4 column1">
                <div class="avatar">
                    <i class="fas fa-user-circle" id = "account"></i>
                    <i class="fad fa-edit"></i>
                    <span id = "user-name">User name</span>
                </div>
                <div>
                    <button class = "tag"><i class="fas fa-user-circle"></i> Thông tin tài khoản</button>
                </div>
                
                <div>
                    <button class = "tag"><i class="fad fa-ticket"></i> Vé đã đặt</button>
                </div>
                
                <div>
                    <button class = "tag"><i class="fad fa-tags"></i> Ưu đãi</button>
                </div>
                
                <div>
                    <a href="/LogIn-SignUp/Log-in.html"> <button class = "tag"><i class="fad fa-sign-out"></i> Đăng xuất</button> </a>
                </div>
                
                
            </div>
            <div class="col-sm-6 column2">
                <form >
                    <div >
                        <label for="full-name">Họ và tên :</label><br>
                        <input class = "info" type = "text" id = "full-name" name = "full-name">
                    </div>
                    
                    <div>
                        <label for="sdt">Số điện thoại :</label><br>
                        <input class = "info" type = "number" id = "sdt" name = "sdt">
                    </div>
                    
                    <div class = "info">
                        <label for="email-address">Địa chỉ email :</label><br>
                        <input class = "info" type = "email" id = "email-address" name = "email-address">
                    </div>
                    
                    <div>
                        <label for="male">Nam</label>
                        <input type = "radio" id = "male" name = "sex" value="Nam">
    
                        <label for="female">Nữ</label>
                        <input type = "radio" id = "female" name = "sex" value="Nữ">
                    </div>
                    
                    <button type="submit"> Lưu </button>

                </form>
            </div>
            <div class="col-sm-2 column3">
                
                    <button>
                        <i class="far fa-clock"></i> Lịch sử đặt vé
                    </button>
                
                
            </div>
        </div>
    </div>