<link rel="stylesheet" type="text/css" href="/css/tim_kiem.css" />

<!--form-->
<!--input ngày đi-->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="inputState">Ngày đi</label>
                <input type="date" class="form-control" id="inputState">
            </div>
        </div>
    </div>
    <!--input điểm đi-->
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="inputState">Điểm đi</label>
                <select id="inputState1" class="form-control">
                    <option selected>Chọn điểm đi</option>
                    <option>Hồ Chí Minh</option>
                    <option>Hà Nội</option>
                </select>
            </div>
        </div>
    </div>
    <!--input điểm đến-->
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="inputState">Điểm đến</label>
                <select id="inputState" class="form-control">
                    <option selected>Chọn điểm đến</option>
                    <option>Hồ Chí Minh</option>
                    <option>Hà Nội</option>
                </select>
            </div>
        </div>
    </div>
    <!--nút tìm kiếm-->
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <button type="button" class="btn btn-primary">Tìm kiếm</button>
            </div>
        </div>
    </div>
</div>
<!--kết thúc form-->

<!--hiện thị các card giới thiệu chuyến xe-->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <img src="/img/nha_xe/phuongtrang1.jpg"
                                class="img-fluid" alt="Responsive image">
                        </div>
                        <div class="col-md-9">
                            <div class="row">
                                <div class="col-md-12">
                                    <h5 class="card-title">Nhà Xe Phương Trang</h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <p class="card-text">Nhà xe này đẹp, giá ổn định</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <a href="/chuyenxe" class="btn btn-primary">Tham khảo ngay</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <img src="/img/nha_xe/phuongtrang1.jpg"
                                class="img-fluid" alt="Responsive image">
                        </div>
                        <div class="col-md-9">
                            <div class="row">
                                <div class="col-md-12">
                                    <h5 class="card-title">Nhà Xe Thành Bưởi</h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <p class="card-text">Nhà xe này đẹp, giá ổn định</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <a href="/chuyenxe" class="btn btn-primary">Tham khảo ngay</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--kết thúc hiện thị các card giới thiệu chuyến xe-->