/* 
    Header
*/

.header {
    background: white;
    box-shadow: 0 1px 4px -2px rgba(0,0,0,0.1);
}

body {
    background-color: #f8f8f8;
}

#navbar {
    padding: 0 20px;
}

.navbar-brand {
    display: flex;
    align-items: center;
    height: 80px;
}

.navbar-brand > img {
    height: 50%;
}

.nav-link {
    color: #333;
    font-size: 1.1rem;
    font-weight: 500;
}

.nav-link:hover {
    color: #22BA19;
}

/* 
    Footer
    */

.footer {
    background-color: white;
}

.footer > .container > .row {
    padding: 40px 0;
}

.footer > .container:first-child > .row {
    border-bottom: 1px solid #333;
}

.footer-list {
    padding: 0;
    list-style: none;
}

.footer-list > li {
    margin-top: 6px;
}

.footer-list > li > a {
    color: #333;
    text-decoration: none;
    font-size: 0.9rem;
}

.footer-list > li > a:hover {
    color: #22BA19;
}

.social-media-list {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.social-media-list > li {
    margin: 0px 30px 0 0;
    text-decoration: none;
}

.social-media-list > li > a {
    font-size: 1.2rem;
}

.social-media-list > li:nth-child(1) > a {
    color: #3b5998;
}

.social-media-list > li:nth-child(2) > a {
    color: #dd4b39;
}

.social-media-list > li:nth-child(3) > a {
    color: #0082ca;
}

.social-media-list > li:nth-child(4) > a {
    color: #333333;
}

/*
    Main
*/

.operator > .container {
    margin: 40px auto;
}

.operator-info {
    padding: 30px 30px;
    background-color: white;
    border-radius: 5px;
}

#carousel-container {
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.carousel-inner {
    border: 1px solid #ccc;
    border-radius: 5px;
}

.operator-info-header-end {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.operator-rating {
    display: flex;
    align-items: center;
    color: gold;
    font-size: 1.2rem;
}

.operator-info-item {
    margin: 0 0 0 0;
    padding: 20px 0;
    border-top: 1px solid #ccc;
}

/*
    Reviews
*/

div.stars {
    width: 320px;
    display: inline-block;
}

input.star { display: none; }

label.star {
    float: right;
    padding: 10px;
    font-size: 36px;
    color: #444;
    transition: all .2s;
}

input.star:checked ~ label.star:before {
    content: '\f005';
    color: #FD4;
    transition: all .25s;
}

input.star-5:checked ~ label.star:before {
    color: #FE7;
    text-shadow: 0 0 20px #952;
}

input.star-1:checked ~ label.star:before { color: #F62; }

label.star:hover { transform: rotate(-15deg) scale(1.3); }

label.star:before {
    content: '\f006';
    font-family: FontAwesome;
}

.reviews {
    padding-top: 20px;
    border-top: 1px solid #ccc;
}

.reviews-submitted {
    margin: 0 0 20px 0;
    padding: 10px 20px;
    height: 120px;
    box-shadow: 0 0 2px 2px rgba(0,0,0,0.05);
}

.reviewer {
    margin-bottom: 0px;
}

.rating {
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-start;
    color: gold;
}

.reviews-submit {
    padding-top: 20px;
    border-top: 1px solid #ccc;
}

.reviews-input {
    margin-bottom: 20px;
    width: 400px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.reviews-textarea {
    margin-bottom: 20px;
    width: 100%;
    height: 160px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn-primary, .btn-primary:hover {
    border: none;
    background-color: #21ba19;
    font-size: 1.1rem;
    font-weight: 500;
}