:root {
    --color-1: #21ba19;
}

body {
    background-color: #fafafa;
}

/* Header */

.header {
    background: white;
    box-shadow: 0 5px 5px -2px rgba(0,0,0,0.2);
}


#navbar {
    padding: 0 20px;
}

.navbar-brand {
    display: flex;
    align-items: center;
    height: 80px;
}

.navbar-brand > img {
    height: 50%;
}

.nav-link {
    color: #333;
    font-size: 1.1rem;
    font-weight: 500;
}

.nav-link:hover {
    color: #22BA19;
}

/* Footer */

.footer {
    background-color: #f4f4f4;
}

.footer > .container > .row {
    padding: 40px 0;
}

.footer > .container:first-child > .row {
    border-bottom: 1px solid #333;
}

.footer-list {
    padding: 0;
    list-style: none;
}

.footer-list > li {
    margin-top: 6px;
}

.footer-list > li > a {
    color: #333;
    text-decoration: none;
    font-size: 0.9rem;
}

.footer-list > li > a:hover {
    color: #22BA19;
}

/* Body section */

/* .body {
    height: 200vh;
} */

/* Change locations */

.hero-search {
    margin: 40px auto;
}

.hero-search input {
    height: 56px;
}

.hero-search-bottom {
    margin: 20px auto;
    display: flex;
}

#starting-form {
    padding-left: 0;
    padding-right: 0;
}

#destination-form {
    padding: 0;
}

#starting-form input {
    border: 1px solid #ccc;
    border-left: none;
    border-right: none;
    border-radius: 0;
}

#destination-form input {
    border: 1px solid #ccc;
    border-left: none;
    border-right: none;
    border-radius: 0;
}

.input-icon {
    background: white;
    border: 1px solid #ccc;
    font-size: 1.5rem;
}

#starting-form .input-icon {
    border-radius: 5px 0 0 5px;
    border-right: none;
}

#destination-form .input-icon {
    border-left: none;
    border-right: none;
}

.dropdown-input {
    overflow: hidden;
    overflow-y: auto;
    max-height: 240px;
    width: 280px;
}

.dropdown-header {
    color: black;
    font-weight: 700;
}

.dropdown-item {
    font-size: 0.9rem;
}

#btn-swap {
    border: 1px solid #ccc;
    border-left: none;
    border-right: none;
    border-radius: 0;
    background-color: white;
    color: #22BA19;
}

#input-date {
    padding: 0;
    
}

#input-date input {
    border: 1px solid #ccc;
    border-right: none;
    border-radius: 0;
}

#btn-submit {
    background-color: #22BA19;
    border: none;
    border-radius: 0 5px 5px 0;
    font-size: 1.1rem;
    font-weight: 600;
}

#btn-submit > a {
    text-decoration: none;
    color: white;
}

/* Main section */

#main-left {
    padding: 0 16px 0 0;
}

/* Filter section */

#filter {
    background: white;
    /* border: 1px solid #ccc; */
    border-radius: 5px;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.1);
}

.filter-head {
    margin: 0 0 20px 12px;
    height: 56px;
    font-size: 1rem;
    font-weight: 500;
}

.filter-section {
    margin-bottom: 40px;
}

.filter-label {
    margin: 0 0 20px 12px;
    font-weight: 450;
}

.btn-filter {
    margin: 0 0 12px 0px;
    height: 56px;
    width: 120px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 2px;
}

.filter-check {
    margin-left: 12px;
    height: 30px;
}

.form-check-input {
    margin: 0;
    height: 16px !important;
    width: 16px;
}

.form-check-label {
    margin-left: 20px;
}

/* Sort section */
#sort {
    height: 56px;
    background: white;
    /* border: 1px solid #ccc; */
    border-radius: 5px;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.1);
}

.sort-head {
    font-size: 1rem;
    font-weight: 500;
}

/* Result list */
.result-item {
    margin: 20px 0 0 0;
    padding: 20px 0;
    height: 200px;
    background: white;
    /* border: 1px solid #ccc; */
    border-radius: 5px;
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.1);
}

.info-container {
    height: 160px;
}

.result-img {
    height: auto;
    width: 100%;
}

.result-time {
    margin-top: 20px;
}

.operator-name {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    font-weight: 600;
}

.operator-name:hover {
    cursor: pointer;
    color: var(--color-1);
}

.rating {
    margin-left: 12px;
    color: gold;
}

.bus-type {
    font-size: 0.8rem;
}

.depart-time,
.arrive-time {
    color: black;
    font-size: 1.4rem;
    font-weight: 500;
}

.travel-time {
    height: 32px;
    line-height: 32px;
    color: #333;
    font-size: 1rem;
    font-weight: 450;
}

.price {
    color: #22BA19;
    font-size: 1.2rem;
    font-weight: 500;
}

.seat-quantity {
    margin: 5px 0;
}

.btn-select, .btn-select:hover {
    background-color: #22BA19 !important;
    border: none;
    border-radius: 0 5px 5px 0;
    font-weight: 600;
}

.btn-select > span {
    text-decoration: none;
    color: white;
}

.pagination {
    margin: 0;
}

.pagination .page-item .page-link {
    color: #3F69AA;
    background: #ffffff;
    border-color: #3F69AA;
    border-radius: 0;
}

.pagination .page-item:hover .page-link,
.pagination .page-item.active .page-link {
    color: #ffffff;
    background: #3F69AA;
}